<!-- FILE: partials/header.html -->
<!-- Header con botón de menú para mostrar/ocultar el sidebar -->
<header class="p-4 bg-color7 text-color1 flex items-center justify-center relative">
    <button id="menu-toggle" class="text-color1 p-2 focus:outline-none absolute top-2 left-2 z-10">
        <!-- Ícono de menú hamburguesa siempre visible -->
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
    <h1 class="text-2xl font-bold">Parking App</h1>
</header>

<div class="flex">
    <!-- Sidebar -->
    <aside id="sidebar" class="w-64 bg-color6 text-color1 min-h-screen fixed top-0 left-0 transform -translate-x-full transition-transform duration-300 z-1">
        <div class="p-4 mt-16">
            <h1 class="text-2xl font-bold">Menu</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html" class="block px-4 py-2 text-color7 text-xl">Dashboard</a></li>
                <li><a href="pages/vehiculos.html" class="block px-4 py-2 hover:text-color7 text-xl">Vehículos</a></li>
                <li><a href="pages/tarifas.html" class="block px-4 py-2 hover:text-color7 text-xl">Tarifas</a></li>
                <li><a href="pages/ingresos.html" class="block px-4 py-2 hover:text-color7 text-xl">Ingresos</a></li>
                <li><a href="pages/puestos.html" class="block px-4 py-2 hover:text-color7 text-xl">Puestos</a></li>
                <li><a href="pages/mensualidades.html" class="block px-4 py-2 hover:text-color7 text-xl">Mensualidades</a></li>
                <li><a href="pages/multas.html" class="block px-4 py-2 hover:text-color7 text-xl">Multas</a></li>
            </ul>
        </nav>
    </aside>
</div>